@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Movies</h2>

<button type="button" class="btn btn-default">@Html.ActionLink("New Movie", "NewMovie", "Movies")</button>
@*
    <button type="button" class="btn btn-primary"><a href="/movies/newmovie/">New Movie</a></button>
*@

@if (Model.Movies.Count == 0)
{
    <p>There are no movies to display.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thread>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr>
                    <td><a href="/movies/edit/@movie.Id">@movie.Name</a></td>
                    <td>@movie.Genre</td>
                </tr>
            }
        </tbody>
    </table>
}