@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>


@if (Model.Customers.Count == 0)
{
    <p>There are no customers to display.</p>
}
else
{
    <ul> 
        <lh>Customer</lh>
        @foreach (var customer in Model.Customers)
        {
            <li><a href="/customers/details/@customer.Id/@customer.Name/">@customer.Name</a></li>
        }
    </ul>
}

