@model Vidly.ViewModels.CustomersViewModel

@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>


@if (Model.Customers.Count == 0)
{
    <p>There are no customers to display.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thread>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td><a href="/customers/details/@customer.Id/@customer.Name/">@customer.Name</a></td>
                    <td>@customer.MembershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

